<mat-toolbar class="header">
  <a [routerLink]="['/']" routerLinkActive="router-link-active">
    <img class="image" src="./../.././../../assets/img/logo.png" alt="Logo">
  </a>

  <span class="space-header"></span>

  <div *ngIf="!isLogged">
    <button mat-raised-button (click)="openCompany()">Empresa</button>
    &nbsp;
    <button mat-raised-button (click)="openCandidate()">Candidato</button>
  </div>

  <div *ngIf="isLogged && isCandidate">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>assignment</mat-icon>
        <span>Minhas Candidaturas</span>
      </button>

      <button mat-menu-item>
        <mat-icon>list_alt</mat-icon>
        <span>Visualizar Currículo</span>
      </button>

      <button mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>Editar Currículo</span>
      </button>

      <button mat-menu-item (click)="logout()">
        <mat-icon>close</mat-icon>
        <span>Sair</span>
      </button>
    </mat-menu>
  </div>

  <div *ngIf="isLogged && !isCandidate">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>post_add</mat-icon>
        <span [routerLink]="['/company/job/new']">Novas Vagas</span>
      </button>

      <button mat-menu-item>
        <mat-icon>list_alt</mat-icon>
        <span>Visualizar Currículo</span>
      </button>

      <button mat-menu-item>
        <mat-icon>business</mat-icon>
        <span [routerLink]="['/company/edit']">Editar Empresa</span>
      </button>

      <button mat-menu-item (click)="logout()">
        <mat-icon>close</mat-icon>
        <span>Sair</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
