.header {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 200;
  background: rgb(250,255,0);
  background: radial-gradient(circle, rgba(250,255,0,1) 68%, rgba(174,252,70,1) 100%);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.image {
  width: 150px;
  height: 50px;
}

.space-header {
  flex: 1 1 auto;
}

.mat-raised-button {
  background-color: #000;
  color: #fff;
}
