<div class="header-login">
  <img class="image" src="./../.././../../assets/img/logo.png" alt="Logo">
</div>

<mat-card>
  <mat-card-title class="text-center">{{textTitle}}</mat-card-title>

  <mat-card-content>
    <form>
      <div class="row size-form">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input type="text" matInput name="email" ngModel #email placeholder="Entre com o seu e-mail" required autofocus>
        </mat-form-field>
      </div>

      <div class="row size-form">
        <mat-form-field class="example-full-width">
          <mat-label>Senha</mat-label>
          <input type="password" matInput name="password" ngModel #password placeholder="Entre com a sua senha" required>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <div class="d-flex justify-content-center">
      <button mat-raised-button (click)="login(email.value, password.value); password.value= ''">Entrar</button>
      <button mat-raised-button (click)="closeDialog()">Fechar</button>
    </div>
  </mat-card-actions>
</mat-card>

<mat-card-footer class="pt-3 text-center">
  <span><b>{{textFooter}}</b></span>
  <br>
  <span><a routerLink="{{textRouter}}" routerLinkActive="router-link-active" [mat-dialog-close]="true">Clique aqui</a> para se cadastrar</span>
</mat-card-footer>
