.header-login {
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.image {
  width: 150px;
  height: 50px;
}

.size-form {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: 0;
  margin-right: 0;
}

.example-full-width {
  width: 80%;
}

.mat-raised-button {
  background-color: #000;
  color: #fff;
}
