<!-- <div class="row">
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xs-6">
    <mat-form-field appearance="legacy">
      <mat-label>Nome da Competência</mat-label>
      <input matInput type="text" [(ngModel)]="competence.name" name="name">
    </mat-form-field>
  </div>
</div> -->

<mat-form-field>
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let competence of competences" [selectable]="selectable" [removable]="removable" (removed)="remove(competence)">
      {{competence}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>

    <input placeholder="Nova Competência" #competenceInput [formControl]="competenceControl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let competence of filteredCompetences | async" [value]="competence">
      {{competence.name}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
