<div class="row">
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xs-6">
    <mat-form-field appearance="legacy">
      <mat-label>Email</mat-label>
      <input matInput type="text" [(ngModel)]="user.email" name="email">
    </mat-form-field>
  </div>

  <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xs-3">
    <mat-form-field appearance="legacy">
      <mat-label>Senha</mat-label>
      <input matInput type="password" [(ngModel)]="user.password" name="password">
    </mat-form-field>
  </div>

  <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xs-3">
    <mat-form-field appearance="legacy">
      <mat-label>Confirmar Senha</mat-label>
      <input matInput type="password" name="passwordConfirmation">
    </mat-form-field>
  </div>
</div>
