<div class="row">
  <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xs-10">
    <mat-form-field appearance="legacy">
      <mat-label>Logradouro</mat-label>
      <input matInput type="text" [(ngModel)]="address.street" name="street">
    </mat-form-field>
  </div>

  <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xs-2">
    <mat-form-field appearance="legacy">
      <mat-label>Número</mat-label>
      <input matInput type="text" [(ngModel)]="address.number" name="number">
    </mat-form-field>
  </div>
</div>

<div class="row">
  <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xs-3">
    <mat-form-field appearance="legacy">
      <mat-label>Complemento</mat-label>
      <input matInput type="text" [(ngModel)]="address.complement" name="complement">
    </mat-form-field>
  </div>

  <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xs-2">
    <mat-form-field appearance="legacy">
      <mat-label>CEP</mat-label>
      <input matInput type="text" [(ngModel)]="address.zipCode" name="zipCode">
    </mat-form-field>
  </div>

  <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xs-2">
    <mat-form-field appearance="legacy">
      <mat-label>Bairro</mat-label>
      <input matInput type="text" [(ngModel)]="address.district" name="district">
    </mat-form-field>
  </div>

  <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xs-3">
    <mat-form-field appearance="legacy">
      <mat-label>Cidade</mat-label>
      <input matInput type="text" [(ngModel)]="address.city" name="city">
    </mat-form-field>
  </div>

  <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xs-2">
    <mat-form-field appearance="legacy">
      <mat-label>Estado</mat-label>
      <input matInput type="text" [(ngModel)]="address.state" name="state">
    </mat-form-field>
  </div>
</div>
