<div class="mcr-container">
  <h3 class="text-center">Nova Vaga</h3>

  <mat-accordion>
    <mat-expansion-panel hideToggle [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title class="font-weight-bold">
          Criar uma vaga
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xs-8">
          <mat-form-field appearance="legacy">
            <mat-label>Título Vaga</mat-label>
            <input matInput type="text" [(ngModel)]="job.title" name="title" required autofocus>
          </mat-form-field>
        </div>

        <div class="col-12 col-sm-12 col-md-10 col-lg-4 col-xs-4">
          <mat-form-field appearance="legacy">
            <mat-label>Cargo</mat-label>
            <input matInput type="text" [(ngModel)]="job.id_position.name" name="name" required autofocus>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xs-6">
          <mat-form-field appearance="legacy">
            <mat-label>Requerimentos</mat-label>
            <textarea matInput type="text" [(ngModel)]="job.requirements" name="requirements" required></textarea>
          </mat-form-field>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xs-6">
          <mat-form-field appearance="legacy">
            <mat-label>Diferencial / Benefícios</mat-label>
            <textarea matInput type="text" [(ngModel)]="job.differential" name="differential" required></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xs-3">
          <mat-form-field appearance="legacy">
            <mat-label>Tipo Vaga</mat-label>
            <input matInput type="text" [(ngModel)]="job.jobType" name="jobType" required>
          </mat-form-field>
        </div>

        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xs-3">
          <mat-form-field appearance="legacy">
            <mat-label>Regime Vaga</mat-label>
            <input matInput type="text" [(ngModel)]="job.regime" name="regime">
          </mat-form-field>
        </div>

        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xs-3">
          <mat-form-field appearance="legacy">
            <mat-label>Salário</mat-label>
            <input matInput type="text" [(ngModel)]="job.salary" name="salary" required currencyMask>
          </mat-form-field>
        </div>

        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xs-3 mt-3">
          <mat-label>Vaga para PCD?</mat-label>
          &nbsp;
          <mat-slide-toggle class="toggle-activo" color="primary" name="status" [(ngModel)]="job.status">
            {{ job.status ? "Sim" : "Não" }}
          </mat-slide-toggle>
        </div>
      </div>
    </mat-expansion-panel>

    <div class="d-flex justify-content-center mt-3">
      <button mat-raised-button (click)="cancelJob()" color="warn">Cancelar</button>
      &nbsp;
      &nbsp;
      <button mat-raised-button (click)="clearJob(); passwordConfirmation.value=''">Limpar</button>
      &nbsp;
      &nbsp;
      <button mat-raised-button (click)="saveJob()" color="primary">Salvar</button>
    </div>
  </mat-accordion>
</div>
