<div class="mcr-container">
  <h3 class="text-center">Nova Empresa</h3>

  <mat-accordion>
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title class="font-weight-bold">
          Dados empresarias
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xs-10">
          <mat-form-field appearance="legacy">
            <mat-label>Nome da Empresa</mat-label>
            <input matInput type="text" [(ngModel)]="company.fantasyName" name="fantasyName" required autofocus>
          </mat-form-field>
        </div>

        <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xs-2">
          <mat-form-field appearance="legacy">
            <mat-label>CNPJ</mat-label>
            <input matInput type="text" [(ngModel)]="company.cnpj" name="cnpj" required mask="00.000.000/0000-00">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xs-3">
          <mat-form-field appearance="legacy">
            <mat-label>Ramo de Atividade</mat-label>
            <input matInput type="text" [(ngModel)]="company.activityBranch" name="activityBranch" required>
          </mat-form-field>
        </div>

        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xs-3">
          <mat-form-field appearance="legacy">
            <mat-label>Telefone Empresa</mat-label>
            <input matInput type="text" [(ngModel)]="company.officeNumber" name="officeNumber" required mask="(00) 0000-00009">
          </mat-form-field>
        </div>

        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xs-3">
          <mat-form-field appearance="legacy">
            <mat-label>Nome Responsável</mat-label>
            <input matInput type="text" [(ngModel)]="company.nameOfResponsible" name="nameOfResponsible" required>
          </mat-form-field>
        </div>

        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xs-3">
          <mat-form-field appearance="legacy">
            <mat-label>Telefone Responsável</mat-label>
            <input matInput type="text" [(ngModel)]="company.responsibleNumber" name="responsibleNumber" required mask="(00) 00009-0000">
          </mat-form-field>
        </div>
      </div>

      <mat-action-row>
        <button type="button" name="next1" id="next1" mat-button color="primary" (click)="nextStep()">Próximo</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title class="font-weight-bold">
          Endereço
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xs-10">
          <mat-form-field appearance="legacy">
            <mat-label>Logradouro</mat-label>
            <input matInput type="text" [(ngModel)]="company.address.street" name="street" required>
          </mat-form-field>
        </div>

        <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xs-2">
          <mat-form-field appearance="legacy">
            <mat-label>Número</mat-label>
            <input matInput type="text" [(ngModel)]="company.address.number" name="number" required>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xs-3">
          <mat-form-field appearance="legacy">
            <mat-label>Complemento</mat-label>
            <input matInput type="text" [(ngModel)]="company.address.complement" name="complement">
          </mat-form-field>
        </div>

        <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xs-2">
          <mat-form-field appearance="legacy">
            <mat-label>CEP</mat-label>
            <input matInput type="text" [(ngModel)]="company.address.zipCode" name="zipCode" required mask="00000-000">
          </mat-form-field>
        </div>

        <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xs-2">
          <mat-form-field appearance="legacy">
            <mat-label>Bairro</mat-label>
            <input matInput type="text" [(ngModel)]="company.address.district" name="district" required>
          </mat-form-field>
        </div>

        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xs-3">
          <mat-form-field appearance="legacy">
            <mat-label>Cidade</mat-label>
            <input matInput type="text" [(ngModel)]="company.address.city" name="city" required>
          </mat-form-field>
        </div>

        <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xs-2">
          <mat-form-field appearance="legacy">
            <mat-label>Estado</mat-label>
            <mat-select name="state" [(ngModel)]="company.address.state" required>
              <mat-option *ngFor="let stateList of statesList" [value]="stateList">
                {{stateList}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <mat-action-row>
        <button type="button" name="previous1" id="previous1" mat-button color="warn" (click)="previousStep()">Anterior</button>
        <button type="button" name="next2" id="next2" mat-button color="primary" (click)="nextStep()">Próximo</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title class="font-weight-bold">
          Usuário de Acesso
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xs-6">
          <mat-form-field appearance="legacy">
            <mat-label>Email</mat-label>
            <input matInput type="text" [(ngModel)]="company.userCompany.email" name="email" required email>
          </mat-form-field>
        </div>

        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xs-3">
          <mat-form-field appearance="legacy">
            <mat-label>Senha</mat-label>
            <input matInput type="password" [(ngModel)]="company.userCompany.password" name="password" required>
          </mat-form-field>
        </div>

        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xs-3">
          <mat-form-field appearance="legacy">
            <mat-label>Confirmar Senha</mat-label>
            <input matInput type="password" name="passwordConfirmation" #passwordConfirmation>
          </mat-form-field>
        </div>
      </div>

      <mat-action-row>
        <button type="button" name="previous2" id="previous2" mat-button color="warn" (click)="previousStep()">Anterior</button>
      </mat-action-row>
    </mat-expansion-panel>

    <div class="d-flex justify-content-center mt-3">
      <button mat-raised-button (click)="cancelCompany()" color="warn">Cancelar</button>
      &nbsp;
      &nbsp;
      <button mat-raised-button (click)="clearCompany(); passwordConfirmation.value=''">Limpar</button>
      &nbsp;
      &nbsp;
      <button mat-raised-button (click)="saveCompany()" color="primary">Salvar</button>
    </div>
  </mat-accordion>
</div>
