.mcr-footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 24px;
  z-index: 200;
  background-color: rgba(248, 248, 248);
  -webkit-box-shadow: 10px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 0px 5px 0px rgba(0,0,0,0.75);
}
