<div class="mcr-container">
  <h3 class="text-center">Novo Candidato</h3>

  <mat-accordion>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title class="font-weight-bold">
          Dados pessoais
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-address></app-address>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title class="font-weight-bold">
          Endereço
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-address></app-address>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title class="font-weight-bold">
          Usuário de Acesso
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-address></app-address>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title class="font-weight-bold">
          Educação
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-address></app-address>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title class="font-weight-bold">
          Experiência
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-address></app-address>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title class="font-weight-bold">
          Competência
        </mat-panel-title>
      </mat-expansion-panel-header>

      <app-competence></app-competence>
    </mat-expansion-panel>

    <div class="d-flex justify-content-center mt-3">
      <button mat-raised-button (click)="cancelCandidate()" color="warn">Cancelar</button>
      &nbsp;
      &nbsp;
      <button mat-raised-button (click)="clearCandidate(); passwordConfirmation.value=''">Limpar</button>
      &nbsp;
      &nbsp;
      <button mat-raised-button (click)="saveCandidate()" color="primary">Salvar</button>
    </div>
  </mat-accordion>
</div>
