/* Filter */
.size-filter {
  width: 100%;
  display: flex;
  justify-content: center;
}

.filter-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.filter-full-width {
  width: 100%;
}

/* Card */
.console {
  width: 350px;
  max-width: 92vw;
  margin-left: 15px;
  margin-right: 40px;
  text-align: left;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 5px 10px rgba(157, 157, 157, 0.77);
}

.console__head {
  overflow: hidden;
  background-color: #d5d5d5;
  padding: 8px 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.console__body {
  height: 280px;
  background-color: #1e1e1e;
  padding: 30px 17px 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.console__title {
  display: block;
  color: #000000;
  margin: 0px;
  margin-bottom: 15px;
  font-family: "Source Code Pro",monospace;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

.console__prompt {
  display: block;
  color: #FFF;
  margin-bottom: 15px;
  font-family: "Source Code Pro",monospace;
  font-size: 15px;
  line-height: 0.8em;
}


