<div class="mcr-container">
  <div class="size-filter">
    <form class="filter-form">
      <mat-form-field appearance="outline" class="filter-full-width">
        <mat-label>
          Pesquisar Vagas
        </mat-label>

        <input matInput [(ngModel)]="searchVar" name="search" (keydown)="search($event)"
               placeholder="Ex: Analista de Sistema, Desenvolvedor, Design" autocomplete="false">

        <mat-icon matSuffix>
          search
        </mat-icon>
      </mat-form-field>
    </form>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="pt-3 pr-3 pb-3" *ngFor="let job of jobs">
      <div class="console">
        <div class="teste">
          <div class="console__head">
            <span class="console__title">{{job.title}}</span>
          </div>
        </div>

        <div class="console__body">
          <span class="console__prompt">Empresa: {{job.id_company?.fantasyName}}</span>
          <span class="console__prompt">Cargo: {{job.id_position?.name}}</span>
          <span class="console__prompt">Salário: {{job.salary | currency: "BRL"}}</span>
          <span class="console__prompt">PCD? {{job.pcd ? "Sim" : "Não"}}</span>
        </div>
      </div>
    </div>
  </div>

  <mat-paginator [length]="paginated?.totalElements" [pageSize]="6" (page)="changePage($event)"></mat-paginator>
</div>
