/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mcr-container {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 90px;
  padding-bottom: 30px;
  overflow-x: hidden;
}

button {
  width: 110px;
  height: 38px;
}

